[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = godot-4.0.2-stable


[submodule "src/zxing-cpp"]
	path = src/zxing-cpp
	url = https://github.com/PXLVision/zxing-cpp
	branch = master